.password {
	display: flex;
	flex-direction: column;
	width: 13em;
	margin: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #322238;
	padding: 1em;
	
	input {
		font-family: 'Noto Sans';
		font-size: 30pt;
		background-color: #4A3453;
		border: 0;
		outline: 0 !important;
		color: #FFDDF3;
		padding: 0.2em;
	}

	input:hover {
		outline: 0 !important;
	}

	input:active {
		outline: 0 !important;
	}

	button {
		font-family: 'Noto Sans';
		font-size: 30pt;
		margin-top: 0.5em;
		padding: 0.2em;
		background-color: #4A3453;
		color: #FFDDF3;
		outline: 0 !important;
		border: 0;
	}

	button:hover {
		outline: 0 !important;
	}

	button:active {
		outline: 0 !important;
	}
}
