.todos {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans';
	padding: 1em;
	
	.block {
		background-color: #322238;
		margin-bottom: 0.7em;
		padding: 0.7em;
		display: flex;
		flex-direction: column;
		
		.item {
			margin-bottom: 0.2em;
			display: flex;

			.dash {
				text-align: center;
				width: 1.4em;
			}
		}

		.item:last-of-type {
			margin-bottom: 0;
		}

		.title {
			text-decoration: underline;
			margin-bottom: 0.2em;
		}
	}

	.block:last-of-type {
		margin-bottom: 0;
	}
}
