@import "styles/groceries.scss";
@import "styles/meals.scss";
@import "styles/password.scss";
@import "styles/todos.scss";

body {
	margin: 0;
	padding: 0;
	font-size: 30pt;
	font-family: 'Noto Sans';
}

.application {
	background-color: #38263F;
	width: 100%;
	min-height: 100vh;
	color: #FFDDF3;

	.menu {
		display: flex;
		flex-direction: column;
		padding: 1em;
		padding-bottom: 0;
		
		.menu-button {
			background-color: #8A76E0;
			font-family: 'Noto Sans';
			border: 0;
			font-size: 30pt;
			padding: 0.3em;
			color: #FFDDF3;
			width: 100%;
			margin-bottom: 0.8em;
		}

		.menu-button:last-of-type {
			margin-bottom: 0;
		}
	}
}
